<!-- TODO create splash login page for KPC
success page for contact info.
add images for work -->
<!-- redirect page styling -->
<!-- start home  wrapper has top margin-->


<div id="hero_container">

    
  <div id="hero_background">
    <div id="wrapper__logo">
      <object id ="logo" class="logo logopulse" type="image/svg+xml" data="logokpc.svg">
      </object>
    </div>
     
      
      
    <div class="work">
      
         Making Omaha Beautiful, One Project at a Time
      <!-- MAKING OMAHA BEAUTIFUL, ONE PROJECT AT A TIME -->
      <!-- Making Omaha Beautiful, One Project at a Time -->
        
     
    </div>
  </div>
    
    
</div>
</div>
<!-- part 2 -->  
    
    
<div id="services">

<a class="black" href="/services#home-builds">
<div id="icon_wrapper">
<img id ="hammer" type="image/svg+xml" src="hammer.svg">

<h4> Custom Home Builds</h4>
</div>
</a>

<a class="black" href="/services#home-improvement">
<div id="icon_wrapper">
<img id ="wrench" type="image/svg+xml" src="wrench.svg">

<h4> Home Improvement</h4>
</div>
</a>

<a class="black" href="/services#remodels">
<div id="icon_wrapper">
<img id ="house" type="image/svg+xml" src="house.svg">

<h4> Remodels & Additions</h4>
</div>
</a>

<a class="black" href="/services#general-contracting">
<div id="icon_wrapper">
<img id ="contract" type="image/svg+xml" src="contract.svg">

<h4> General Contracting</h4>
</div>
</a>
        


<div style="clear:both"></div>

 
   
 
</div>   
      
 

    
 <a href ="#contact"> <div id="box2" class="delay10 animated bounceIn">
  contact us!
</div>
</a>





<div id="gallery">
<!-- <div class="work2">
Our Work
</div> -->
<div id="gallerywrap">
 <div id="row"><img src="work/IMG_2784.jpg" alt ="omaha patio renovation drazic construction" class="work_image"></div>
 <div id="row"><img src="work/work6.jpg" alt ="omaha home deck drazic construction" class="work_image"></div>
  <div id="row"><img src="work/IMG_2763.jpg" alt ="omaha patio drazic construction" class="work_image"></div>
<div id="row"><img src="work/IMG_2772.jpg" alt ="omaha home deck drazic construction" class="work_image"></div>
<div id="row"><img src="work/IMG_0599.jpg" alt ="omaha home deck drazic construction" class="work_image"></div>
<div id="row"><img src="work/IMG_0529.jpg" alt ="omaha home deck drazic construction" class="work_image"></div>

<div id="row"><img src="work/IMG_1018.jpg" alt ="omaha home deck drazic construction" class="work_image"></div>

<div id="row"><img src="work/IMG_1017.jpg" alt ="omaha home deck drazic construction" class="work_image"></div>
   
   
   
   
   
   
   
  <div id="row"><img src="work/IMG_0052.jpg" alt ="omaha custom flooring drazic construction"class="work_image"></div>
    <div id="row"><img src="work/IMG_0054.jpg" alt ="omaha custom flooring drazic construction"class="work_image"></div>
    
    <div id="row"><img src="work/IMG_1598.jpg" alt ="omaha sidewalk drazic construction" class="work_image"></div>
    
        
        <div id="row"><img src="work/IMG_1609.jpg" alt ="omaha sidewalk drazic construction" class="work_image"></div>
        
        <div id="row"><img src="work/IMG_1747.jpg" alt ="omaha sidewalk drazic construction" class="work_image"></div>
        
        <div id="row"><img src="work/IMG_0022.jpg" alt ="omaha sidewalk drazic construction" class="work_image"></div>
        
        <div id="row"><img src="work/IMG_0618.jpg" alt ="omaha sidewalk drazic construction" class="work_image"></div>
        <div id="row"><img src="work/IMG_0620.jpg" alt ="omaha sidewalk drazic construction" class="work_image"></div>
  
  
  <div id="row"><img src="work/work5.jpg" alt ="omaha custom flooring drazic construction" class="work_image"></div>
   <div id="row"><img src="work/work12.jpg" alt ="omaha fireplace renovation drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work9.jpg" alt ="omaha custom additions construction" class="work_image"></div>
  <div id="row"><img src="work/work21.jpg" alt ="omaha fireplace renovation drazic construction" class="work_image"></div>
 
 <div id="row"><img src="work/work26.jpg" alt ="omaha custom decks drazic construction" class="work_image"></div>
 
  <div id="row"><img src="work/work8.jpg" alt ="omaha custom decks drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work11.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
 
  <div id="row"><img src="work/IMG_0052.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  
  <div id="row"><img src="work/work18.jpg" alt ="omaha custom decks drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work19.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work20.jpg" alt ="omaha fireplace renovation drazic construction" class="work_image"></div>
  
  
  <div id="row"><img src="work/work22.jpg" alt ="omaha custom decks drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work23.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work24.jpg" alt ="omaha fireplace renovation drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work25.jpg" alt ="omaha fireplace renovation drazic construction" class="work_image"></div>
  
  
  <div id="row"><img src="work/work27.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  
  <div id="row"><img src="work/work29.jpg" alt ="omaha custom decks drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work30.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
   <div id="row"><img src="work/work31.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
   <div id="row"><img src="work/work32.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  <div id="row"><img src="work/work33.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  

  <div id="row2"><img src="work/work15.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
   <div id="row2"><img src="work/work16.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
   <div id="row2"><img src="work/work17.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
     <div id="row2"><img src="work/work28.jpg" alt ="omaha fireplace renovation drazic construction" class="work_image"></div>
  
 
   
</div>
  
 </div>

<a href="/work"><div class="submit3"> see more of our work </div></a>

<!-- <div class="work"><div class="work_button"> see our work</div></div>  -->
<div id="part4">
<div class="mike">
<div class="meet_mike">
Meet Michael
<br>Owner | Craftsman</br>
</div>
</div>


</div> 


<!-- contact form -->
<div id="part3">
  
  

<div id="contact">

<div id="form">
<h1 class="this orange2">Contact Us For a Quote</h1>
 
<form action="/contacts" method="post">
<p> name: <input type="name" class = "form" placeholder="your name" name="name" value="<%= params["name"] %>" required></p>
<p> email: <input type="email" class = "form" placeholder="your email" name="email" value="<%=params["email"]%>" ></p>
<p> phone: <input type="text" class = "form" placeholder="402-555-5555" name="phone" value="<%=params["phone"]%>" required></p>
<p> message: <input type="text_area" class = "form message" placeholder="what can we build for you?" name="message" value="<%=params["message"]%>"required> </p>
<input type="hidden" name="date" value="<%=Time.now%>" </p>
<p> <input type="submit" value="submit" class="submit"></p>
</form>

</div>

</div>
 
</div>
</a>
  
    
    
<!-- end home home wrapper -->
<!-- </div> -->
